html, body {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #B0F69F;
    /* background-color: rgb(229, 216, 253); */
    position: fixed;
    height: 12%;
}

.title {
    /* padding: 0 1rem; */
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

.list-item-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-top: 8rem;
}

.image-thumbnail {
    margin: 1rem;
    height: 25rem;
    width: 25rem;
}

.image {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border-radius: 0.5em; */
}

.image:hover {
    /* box-shadow: 4px 4px 4px rgb(197, 196, 196); */
    border: 4px solid rgb(184, 184, 184);
}

.lightbox-container {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.60);
}

.lightbox {
    /* position: fixed;
    left: 25em; */
    height: 100%;
    width: 100%;
}

.lightbox-content-container {
    background-color: white;
    /* border: 0.5em solid white; */
    height: 80%;
    width: 100%;
    /* position: relative; */
}

.lightbox-image {
    height: 80%;
    width: 100%;
}

.lightbox-caption {
    height: 20%;
    width: 100%;
}

.exit-button {
    text-align: right;
    font-size: 2.5em;
    color: rgba(256,256,256,0.5);
    cursor: pointer;
    padding: 1rem 0;
}

.hide-lightbox {
    display: none;
}

@media(min-width: 370px) {
    .list-item-container {
        margin-top: 10rem;
    }

    .lightbox-content-container {
    height: 70%;
    }

    .lightbox-image {
        height: 70%;
    }

    .lightbox-caption {
        height: 30%;
    }
}

@media(min-width: 768px) {
    /* .nav-bar {
        height: 15%;
    }
    
    .title {
        font-size: 3.5rem;
    } */

    .list-item-container {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .image-thumbnail{
        margin: 2rem;
        /* height: 33rem;
        width: 35rem; */
    }

    .lightbox {
        height: 75%;
        width: 75%;
        margin-top: 5rem;
    }

    .lightbox-content-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    
    .lightbox-image {
        height: 100%;
        width: 70%;
    }
    
    .lightbox-caption {
        width: 30%;
    }

    .arrow-buttons {
        display: flex;
        justify-content: space-between;
        font-family: 'PT Sans Narrow', sans-serif;
        width: 80%;
        position: absolute;
        top: 50%;
    }
    
    .arrows {
        color: rgba(256,256,256,0.5); 
    
        /* arrows on the outside */
        font-size: 4rem;
        margin-left: -1.4em;
        margin-right: -0.4em; 
        cursor: pointer;
    }
}

@media(min-width: 1200px) {
    .lightbox-image {
        width: 60%;
    }

    .arrows {
        margin-right: -0.1rem;
    }
}